/* Mobile view */

@media only screen and (max-width: 1050px) {

    /* Navbar */

    header {
        left: -300px;
    }

    header .footer {
        left: -300px;
    }

    #MenuBtn {
        display: block;
    }

    /* Main Section */

    main {
        margin-left: 0;
    }

}

@media only screen and (max-width: 830px) {
    
    #about {
        padding: 50px 10px;
    }

    #about .divider ~ p {
        font-size: 14px;
        letter-spacing: 0px;
        text-align: justify;
    }

    #about .about-col {
        flex-direction: column;
    }

    #about .about-col .img-col img {
        width: 50%;
    }

    #about .about-col .img-col h2 {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
    }

    #about .about-col .img-col p {
        font-size: 14px;
        letter-spacing: 0;
    }

    #about .about-col .info-col .icon-list-col {
        flex-direction: column;
        gap: 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li {
        margin: 10px 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li strong {
        font-weight: 500;
        margin-right: 0;
    }
    
    #about .about-col .info-col .icon-list-col .icon-list ul li span {
        font-weight: 400;
        font-size: 13px;
    }

    #portfolio {
        padding: 50px 15px;
    }

    #portfolio .portfolio-row {
        flex-direction: column;
    }

    #portfolio .portfolio-row .portfolio-cols {
        flex-basis: 100%;
    }

    #contact {
        padding: 50px;
    }

    #contact .contact-row {
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: 670px) {

    #home {
        padding: 30px;
    }

    #home .home-row h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }

    #home .home-row h1 br {
        display: none;
    }

    #home .home-row p {
        font-size: 20px;
        font-weight: 400;
    }

    #project {
        padding: 50px 10px;
    }
    
    #project .port-row {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

}

@media only screen and (max-width: 450px) {
    #skill {
        padding: 50px 15px;
    }

    #skill .skill-row {
        grid-template-columns: repeat(1, 1fr) ;
        grid-gap: 10px;
    }

    #contact {
        padding: 50px 10px;
    }

    #project .port-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

}

@media only screen and (max-width: 400px) {
    #about .about-col .img-col img {
        width: 90%;
    }
}